.site_header {
    width: 100%;
    height: 11vh;   
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 520px) {
    .site_header {
        position: relative;
        width: 100%;
        height: 13vh;
    }
}
/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
	top:0;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#F75409;
    /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
	opacity: 1;
	z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center; 
    padding:0px 50px;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	font-family: 'Euphoria Party';
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 12rem;
}

@media only screen and (max-width: 960px) {
    #g-nav li a{
        color: #333;
        text-decoration: none;
        
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 22vw;
    }
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
	position: absolute;
    z-index: 9999;/*ボタンを最前面に*/
	top:6vh;
	right: 3vw;
    margin-top: auto;
    margin-bottom: auto;
	cursor: pointer;
    width: 150px;
    height:100px;
}

/*タブレットレイアウト*/
@media only screen and (max-width: 960px) {
    .openbtn1{
        position: absolute;
        z-index: 9999;/*ボタンを最前面に*/
        top:6vh;
        right: 3vw;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        width: 150px;
        height:75px;
    }
}

/*スマートフォンレイアウト*/
@media only screen and (max-width: 520px) {
    .openbtn1{
        position: absolute;
        z-index: 9999;/*ボタンを最前面に*/
        top:4vh;
        right: 0vw;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        width: 100px;
        height:50px;
        
    }
}




	
/*×に変化*/	
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #F75409;
  	width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
	top:15px;	
}

.openbtn1 span:nth-of-type(2) {
	top:23px;
}

.openbtn1 span:nth-of-type(3) {
	top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 20px;
    transform: translateY(6px) rotate(-45deg);
    width: 35%;
    background-color: #111;
}

.openbtn1.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 20px;
    transform: translateY(-6px) rotate(45deg);
    width: 35%;
    background-color: #111;
}