@font-face {
    font-family: Alfa Slab One;
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}
.works {
    background-color:#FEF3DD;
    padding-top: 5vw;
}
.works_title {
    padding-left: 6%;
}
.works_title h1 {
    margin: 0;
    font-family: Alfa Slab One;
    font-weight: 100;
    color: #001658;
    font-size: 12vw;
    text-shadow: 1vw 1vw #E49B1B;
}
.works_title p {
    margin: 0;
    padding-bottom: 50px;
    font-family: rubik;
    font-size: 1.6vw;
    line-height: 116%;
    font-style: italic;
    color: #203B8C;
    bottom: 2vw;
    position: relative;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.content-wrap {
    width: 33.33vw;
    height: auto;
    display: block;
    background: #000;
}
.content-wrap img {
width: 100%;
cursor: pointer;
transition-duration: 0.3s;
}
.content-wrap:hover img {
    opacity: 0.6;
    transition-duration: 0.8s;
}
.content::after {
 content: '';
 width: 100%;
}
.content-wrap:nth-child(n+4) {
    order: 1;
}
.mask {
    width: 34%;
    height: 29%;
    position: absolute;
    display: inline-block;
    left: 0;
    opacity: 0;
}
.mask:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption {
    font-size: 4vw;
    font-family: JOSEFIN sans;
    color: aliceblue;
    position: absolute;
    line-height: 50px;
    text-align: center;
    right: 1.2vw;
    top: 10vw;
}
.mask2 {
    width: 33%;
    height: 39%;
    position: absolute;
    display: inline-block;
    left: 33.3vw;
    opacity:0;
}
.mask2:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption2 {
    font-size: 8vw;
    font-family: euphoria party;   
    color: aliceblue;
    position: absolute;
    left: 8vw;
    top: 8vw;
    line-height: 6vw;
}
.mask3 {
    width: 33%;
    height: 44%;
    position: absolute;
    display: inline-block;
    left: 66.6vw;
    opacity:0;
}
.mask3:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption3 {
    font-size: 6vw;
    font-family: bonzai;
    color: aliceblue;
    position: absolute;
    left: 0.9vw;
    top: 9vw;
    text-align: center;
    line-height: 75%;
}
.mask4 {
    width: 33.4%;
    height: 24%;
    position: absolute;
    display: inline-block;
    left:0;
    opacity:0;
}
.mask4:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption4 {
    font-size: 4vw;
    font-family: nerko one;
    color: aliceblue;
    position: absolute;
    left: 3.9vw;
    top: 10vw;
    text-align: center;
    line-height: 100%;
}
.mask5 {
    width: 33.4%;
    height: 29%;
    position: absolute;
    display: inline-block;
    left:33vw;
    opacity:0;
}
.mask5:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption5 {
    font-size: 8vw;
    font-family: Impact;
    color: aliceblue;
    position: absolute;
    right: 0vw;
    top: 1.3vw;
    text-align: center;
    line-height: 100%;
}
.mask8 {
    width: 33.4%;
    height: 29%;
    position: absolute;
    display: inline-block;
    left:67vw;
    opacity:0;
}
.mask8:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption8 {
    font-size: 5vw;
    font-family: train one;
    color: aliceblue;
    position: absolute;
    right: 3.1vw;
    top: 5vw;
    width: 28vw;
    text-align: center;
    line-height: 100%;
}
.mask9 {
    height: 37%;
    width: 32vw;
    position: absolute;
    display: inline-block;
    left: 1vw;
    opacity:0;
}
.mask9:hover {
    opacity: 1;
    transition-duration: 0.8s;
}
.caption9 {
    font-size: 5.6vw;
    font-family: nikkyou sans;
    color: aliceblue;
    position: absolute;
    top: 7.5vw;
    right:5.2vw;
    width: 23vw;
    text-align: center;
    line-height: 100%;
}
/*tb-ressponsive*/
@media screen and (max-width: 1000px) {    
    .content-wrap {
        width: 50vw;
    }
    .content-wrap:nth-child(n+4) {
        order: 0;
    }
    .mask {
        width: 50%;
        height: 26%;
        position: absolute;
        display: inline-block;
        left: 0;
        opacity: 0;
    }
    .mask:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption {
        width: 56%;
        font-size: 4.8vw;
        font-family: JOSEFIN sans;
        color: aliceblue;
        position: relative;
        left: 10vw;
        top: 16vw;
        line-height: 6vw;
        text-align: center;
    }
    .mask2 {
        width: 94%;
        height: 114%;
        position: relative;
        display: block;
        left: 1.3vw;
        top: -43vw;
        opacity:0;
    }
    .mask2:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption2 {
        font-size: 13vw;
        font-family: euphoria party;
        color: aliceblue;
        position: absolute;
        left: 9vw;
        top: 16vw;
        line-height: 9.5vw;
    }
    .mask3 {
        width: 50%;
        height: 25%;
        position: absolute;
        display: inline-block;
        left: 0vw;
        opacity:0;
    }
    .mask3:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption3 {
        font-size: 9vw;
        font-family: bonzai;
        color: aliceblue;
        position: absolute;
        left: 0.9vw;
        top: 12vw;
        text-align: center;
        line-height: 100%;
    }
    .mask4 {
        width: 50%;
        height: 36%;
        position: absolute;
        display: inline-block;
        left:49vw;
        opacity:0;
    }
    .mask4:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption4 {
        font-size: 6vw;
        font-family: nerko one;
        color: aliceblue;
        position: absolute;
        left: 6.9vw;
        top: 15vw;
        text-align: center;
        line-height: 100%;
    }
    .mask5 {
        width: 47.4%;
        height: 29%;
        position: absolute;
        display: inline-block;
        left: 1vw;
        opacity:0;
    }
    .mask5:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption5 {
        font-size: 11vw;
        font-family: Impact;
        color: aliceblue;
        position: absolute;
        right: 1vw;
        top: 3.5vw;
        text-align: center;
        line-height: 100%;
    }
    .mask8 {
        width: 48.4%;
        height: 31%;
        position: absolute;
        display: inline-block;
        left:51vw;
        opacity:0;
    }
    .mask8:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption8 {
        font-size: 7vw;
        font-family: train one;
        color: aliceblue;
        position: absolute;
        right: 7.5vw;
        top: 9vw;
        width: 35vw;
        text-align: center;
        line-height: 100%;
    }
    .mask9 {
        height: 27%;
        width: 49vw;
        position: absolute;
        display: inline-block;
        left: 1vw;
        opacity:0;
    }
    .mask9:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption9 {
        font-size: 8.5vw;
        font-family: nikkyou sans;
        color: aliceblue;
        position: absolute;
        top: 11vw;
        left: 6vw;
        text-align: center;
        line-height: 100%;
        width: 35vw;
    }
}
/*mb-ressponsive*/
@media screen and (max-width:600px) {
    .content-wrap {
        width: 100vw;
    }
    .mask {
        width: 50%;
        height: 26%;
        position: absolute;
        display: inline-block;
        left: 0;
        opacity: 0;
    }
    .mask:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption {
        width: 88vw;
        font-size:  14.8vw;
        font-family: JOSEFIN sans;
        color: aliceblue;
        position: relative;
        left: 6vw;
        top: 26vw;
        line-height: 15vw;
        text-align: center;
    }
    .mask2 {
        width: 94%;
        height: 114%;
        position: relative;
        display: block;
        left: 1.3vw;
        top: -43vw;
        opacity:0;
    }
    .mask2:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption2 {
        font-size: 33vw;
        font-family: euphoria party;
        color: aliceblue;
        position: absolute;
        left: 13vw;
        top: -15vw;
        line-height: 24vw;
    }
    .mask3 {
        width: 100%;
        height: 25%;
        position: absolute;
        display: inline-block;
        left: 0vw;
        opacity:0;
    }
    .mask3:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption3 {
        font-size: 17vw;
        font-family: bonzai;
        color: aliceblue;
        position: absolute;
        left: 4.9vw;
        top: 28vw;
        text-align: center;
        line-height: 65%;
    }
    .mask4 {
        height: 36%;
        position: absolute;
        display: inline-block;
        left:49vw;
        opacity:0;
    }
    .mask4:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption4 {
        font-size: 15vw;
        font-family: nerko one;
        color: aliceblue;
        position: absolute;
        left: -44.1vw;
        top: 25vw;
        text-align: center;
        line-height: 100%;
    }
    .mask5 {
        width: 11.4%;
        height: 29%;
        position: absolute;
        display: inline-block;
        left: 1vw;
        opacity:0;
    }
    .mask5:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption5 {
        font-size: 22vw;
        width: 60vw;
        font-family: Impact;
        color: aliceblue;
        position: absolute;
        left: 19vw;
        top: 7.5vw;
        text-align: center;
        line-height: 100%;
    }

    .mask8 {
        width: 88.4%;
        height: 31%;
        position: absolute;
        display: inline-block;
        left: 7vw;
        opacity:0;
    }
    .mask8:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption8 {
        font-size: 16vw;
        top: 15vw;
        font-family: train one;
        color: aliceblue;
        position: absolute;
        right: 4.1vw;
        width: 81vw;
        text-align: center;
        line-height: 100%;
    }
    .mask9 {
        height: 31%;
        width: 99vw;
        position: absolute;
        display: inline-block;
        left: 1vw;
        opacity:0;
    }
    .mask9:hover {
        opacity: 1;
        transition-duration: 0.8s;
    }
    .caption9 {
        font-size: 18vw;
        font-family: nikkyou sans;
        color: aliceblue;
        position: absolute;
        top: 22vw;
        left: 11vw;
        text-align: center;
        line-height: 100%;
        width: 76vw;
    }
}